.button {
  margin-top: 1rem;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background-color: #8498a5;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
